html {scroll-behavior: smooth;}
* {box-sizing: border-box;}
body {background: #fff; color: #555; margin: 0; padding: 0; font-family: 'Open Sans', Helvetica, Arial, sans-serif; line-height: 1.3;}

.row-100 img {display: block; width: 100%;}

h1, h2, h3, h4 {display: block; color: #000; text-transform: uppercase;}
h1 {font-size: 3.125rem;}

h1 {padding: 1rem 0; color: #75be4a;}

h2 {font-size: 2.8rem;}
h2 span {font-weight: normal;}
h2:after {width: 137px; height: 14px; clear: both; display: block; margin: 2rem 0; background: #75be4a; content: "";}

h3 {color: #555}

p {margin: 1rem 0; font-size: 1.05rem; line-height: 1.35;}
a {text-decoration: none;}
img {max-width: 100%;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.center {margin: 0 auto; float:none;}
.small {font-size: 0.85rem;}
.show {display: inline-block !important;}
.clearfix {width: 100%; height: 1px; display: block; clear: both;}
.relative {position: relative;}
hr {margin: 0;}

input[type="text"], input[type="email"] {height: auto; line-height: 1; padding: 0.5rem 1rem; font-size: 1rem; color: #222 !important; box-shadow: 2px 2px 4px inset rgba(0,0,0,0.05); border: 0; border-radius:2px;}
input:focus {outline-color: #75be4a;}
select {padding:0.75 1rem !important; box-shadow:2px 2px 4px inset rgba(0,0,0,0.25); border: 0; border-radius: 4px;}
select:focus {outline:none;}

.button {position: relative; display: inline-block; margin: 1rem 0; padding: 0.65rem 1rem 0.65rem 1.25rem; background: #75be4a; color: #fff; font-weight: 600; transition: all 300ms ease-in-out;}
.button .arrow {width: 17px; height: 12px; display: inline-block; margin: 0 0 0 0.5rem; background: url(../img/arrow.svg) 0 0 no-repeat; transform: translateY(1px); transition: transform 300ms ease-in-out;}
.button:hover {background: #000;}
.button:hover .arrow {transform: translate(4px,1px);}

.button.white {padding: 0.65rem 0; background: transparent; color: #75be4a;}
.button.white .arrow {background: url(../img/arrow-green.svg) 0 0 no-repeat;}
.button.white:hover {color: #000;}

.button.margin {margin: 3rem 0;}

aside {background: #292929; padding: 0 0.975rem 1rem 0.975rem; color: #fff;}
aside .row:first-child {padding-top: 0; padding-bottom: 0;}
aside h2 {margin-bottom: 0.5rem; color: #fff; font-size: 1.35rem; text-transform: uppercase;}
aside h2:after {display: none}
aside p {margin: 0.75rem 0; font-size: 0.8rem;}
aside .field {display: block; width: 100%; clear: both; padding: 0; color: #ccc}
aside .field span {display: none; margin-top: 3px; clear:both; padding:0.25rem 0.5rem; background:#c03; color:#fff; font-size:0.8rem; border-radius:4px;}
aside .field label {width: 100%; display: block; float:left; padding:0.35rem 1rem 0.35rem 0; font-size:0.75rem;}
aside .field input, main .field select {width:100%; display:inline-block; float:left;}
aside .field p {width:100%; float:right; font-size:0.65rem;}
aside .field p a {color:#fff; text-decoration:underline}
aside .field.checkbox {width:100%; float:right; padding:0.45rem 0; line-height:0.85;}
aside .field.checkbox input {display:inline; width:auto; float:none; margin:0;}
aside .field.checkbox label {display:inline; width:auto; float:none; padding:0; text-align:left; font-size:0.7rem; line-height:0.85;}
aside .field.text-center {width:100%;}
aside #form_submit {width: 100%; display: block; background: #75be4a; position: relative; cursor: pointer; overflow: auto;}
aside #form_submit .arrow {float: right; transform:  translateY(3px); }
aside #form_submit:hover {background: #58aa27; cursor: pointer;}
aside #form_submit:hover .arrow {transform: translate(4px,3px);}
aside input[type="submit"] {position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0; font-family: inherit; color: #fff; font-weight: 500; background: inherit; opacity: 0; cursor: pointer;}
aside #form_submit.loading:before {width: 100%; height: 100%; background: #75be4a; position: absolute; top: 0; left: 0; z-index: 1; content: "";}
aside #form_submit.loading:after {position: absolute; z-index: 2; top: 50%; left: 50%; width: 22px; height: 22px; margin: -11px 0 0 -11px; display: block; background: url(../img/loading.png); content: ""; animation: loading 800ms infinite ease-in-out;}
aside .field.checkbox {padding: 0.2rem 0;}
aside .field.checkbox span {margin-left: 0; clear: both;}
aside .field.serie {text-align: left;}
aside.selected .hide-aside img {transform: rotate(0deg);}
aside .hide-aside {display: block; width: 32px; height: 36px; background: #555; padding: 0.5rem 0.5rem 1rem 0.5rem; position: absolute; left: -32px; z-index: 2; cursor: pointer}
aside .hide-aside img {transform: rotate(180deg);}

.row-100 img {width:100%;}

.thanks {margin-top:3rem; margin-bottom:2rem; text-align:center;}
.thanks img {margin-bottom:2.5rem;}
.thanks p {font-size:1.25rem; line-height:1.5;}

.dane {display:none;}

footer {margin-top: 3em; padding-top: 1rem; padding-bottom: 1rem; background: #fff; color: #3F3F3F; border-top: 16px solid #75be4a; font-weight: bold;}
footer a {color: #7F7E7F; text-decoration: none; font-size: 1rem; float: right; text-decoration: none}
footer p {margin: 0; font-size: 1.05rem;}
footer img {margin-left: 0.5rem; vertical-align:middle;}
footer ul {clear:both; margin:2rem 0 1rem 0; padding:0; list-style-type:none; position:relative; z-index:1;}
footer ul li {display:inline-block; margin:0 0.25rem;}
footer ul li a {display:inline-block; width:24px; height:24px; overflow:hidden; text-indent:100px; transition:all 300ms ease-in-out; background-size:cover !important;}
footer .facebook {background:url('../img/facebook.png');}
footer .instagram {background:url('../img/instagram.png');}
footer .youtube {background:url('../img/youtube.png');}
footer .up {display:block; color:#75be4a; text-transform:uppercase;}
footer .up:after {display:inline-block; width:8px; height:12px; margin-left:0.5rem; border:4px solid transparent; border-bottom:7px solid #75be4a; content:""; box-sizing:border-box; position:relative; top:-3px; font-weight:normal;}

#cookie-bar {width: 100%; position: fixed; left: 0; right: 0; bottom: 0; padding: 1rem; z-index: 99; background: rgba(0,0,0,0.85); color: #fff; font-size: 0.85rem;}
#cookie-bar p {font-size: 0.8rem;}
#cookie-bar a {color: #fff;}
#cookie-bar button {display: inline-block; margin-left: 0.5rem; padding: 0.25rem 0.5rem; border: 0; color: #fff; background: #75be4a; font-weight: bold; font-size: 0.85rem; cursor: pointer;}

main, .main {width: calc(100% - 320px);}
aside {width: 320px; position: fixed; top: 0; bottom: 0; right: 0; height: 100%; z-index: 3; transition: all 300ms ease-in-out;}
aside.selected {width: 50%;}

table {width: 100%; border: 1px solid #ccc; border-collapse: collapse; text-align: center;}
table tr td:first-child {text-align: left;}
table td {padding: 0.35rem 0.5rem; border: 1px solid #ccc; font-size: 0.9rem;}
table thead td {background: #75be4a; color: #fff; font-weight: bold;}
table .dot {width: 10px; height: 10px; margin: 0 auto; background: #75be4a; border-radius: 10px;}

/* Najczęściej wybierany */
.second {border-bottom: 1px solid #ddd; padding: 1rem 0; color: #000}
.second strong {display: block; margin: 1rem 0; font-size: 3rem; text-transform: uppercase; line-height: 1; font-weight: 800;}
.second p {font-size: 1.64rem; font-weight: 600; line-height: 1; position: relative; top: -3px;}
.second img {width: auto; float: right;}

/* Nowa seria 5 */
.third {color: #000;}
.third img {margin: 3rem auto -3rem auto;}
h1 {margin-bottom: 0; font-size: 4.375rem; font-weight: 800; line-height: 1;}
.subheader {font-size: 2.25rem;}
.przypis {font-size: 0.9rem; color: #676767;}

/* Najbardziej wszechstronny */
ul {margin-top: 0.5rem; padding-left: 1.3rem; font-size: 1.25rem;}
ul li {margin: 0.75rem 0; font-weight: 600;}
ul li:first-child {margin-top: 0;}
ul li::marker {color: #75be4a;}
.silnik img {margin-top: -4rem;}
.silnik p {font-weight: bold;}

/* Zdjęcia */
.zdjecia {margin: 2rem auto;}

/* ATR Express */
.atr-express {position: absolute; bottom: -2rem; left:0; font-weight: bold; text-align:center; z-index: 2; }
.atr-express p {float: left; margin-top:1.5rem;}
.atr-express img {display: inline-block; float:left; margin: 1rem 0 0 1rem; vertical-align: middle;}

@media (max-width: 1300px) {
    h1 {margin-top: 1.5rem; padding-top: 0;}
    .second strong {font-size: 2.5rem;}
    .second p {font-size: 1.2rem;}
    .third img {margin: 3rem 0 0 0;}
    .atr-express {position: relative; top: -2rem; margin-bottom: -1rem; text-align: center}
    .atr-express p, .atr-express img {margin-top: 0; float: none;}
}

@media (max-width: 1240px) {
    h1 {font-size: 3.5rem; padding-top: 0;}
}

@media (max-width: 1170px) {
    ul {margin-top: 2rem;}
    .silnik img {margin-top: 2rem;}
    .second strong {font-size: 2rem;}
    .second p {font-size: 1.15rem;}
    aside.selected {width: 60%;}
    .atr-express {width: 100%;}
    .atr-express p, .atr-express img {display: inline-block; margin-top: 0 !important}
}

@media (max-width: 1000px) {
    aside.selected {width: 70%;}
    ul {font-size: 1.05rem;}
}

@media (max-width: 800px) {
    main, .main {width: 100%;}
    aside {width: 100%; position: static; padding-bottom: 2rem}
    aside.selected {width: 100%;}
    aside p {font-size: 0.9rem;}
    .second {border-bottom: 0; padding-bottom: 0; margin-bottom: 0;}
    .second img {max-width: 220px;}
    .second .l4 {width: 100%; margin-bottom: 1.5rem; padding: 0 0 1.75rem 0; border-bottom: 1px solid #ddd;}
    .secont strong {margin-bottom: 0;}
    h1 {margin-top: 0;}
    .third img {max-width: 550px; margin: 1rem auto 0 auto;}
}

@media (max-width: 768px) {
    .third img { margin-top: 2rem;}
}

@media (max-width: 640px) {
    .third img {max-width: 100%;}
}

@media (max-width: 540px) {
    h2 {font-size: 2rem;}
    h2:after {width: 107px; height: 10px; margin: 1.25rem 0;}
    .subheader {font-size: 1.5rem; margin-bottom: 1.5rem;}

    .silnik img {max-width: 220px;}
    .second img {margin: 0 auto; float: none}

    table tr, table td {display:block; width:100%;}
    table tr td:first-child {font-weight:bold; background: #75be4a; color:#fff;}
    table tr td:first-child:before {display:none;} 
    table tr td {text-align:left;}
    table thead {display:none}
    table td:before {content:attr(data-model) ": " ; font-weight:bold;}
    table .dot {display:inline-block; background:transparent;}
    table .dot:before {content:"Tak";}


}

@media (max-width: 360px) {
    h2 {font-size: 1.75rem;}
}

@keyframes loading {
    0% {transform:  rotate(0);}
    100% {transform:  rotate(360deg);}
}