html {scroll-behavior:smooth;}
* {box-sizing: border-box;}
body {background:#333; color:#fff; margin:0; font-family: Arial, sans-serif; line-height:1.3;}

header {background:#fff; padding:0.5rem 0 1rem 0; text-align:left; position:relative;}
header img {margin:0;}
#logo img {display:inline-block; width:auto; margin-bottom:1.5rem;}
#logo-click {display:none;}
.first {padding-top:100px;}

.row-100 img {display:block; width:100%;}

h1, h2, h3, h4 {display:block; color:#84cb3f; text-transform:uppercase;}
h1 {font-size:3.5rem;}
h2 {font-size:2.8rem;}

h1 {padding:1rem 0; color:#fff; font-weight:bold;}
.bold h2 {font-weight:bold;}

p {margin:1rem 0; font-size:1.2rem; line-height:1.35;}
p.big {font-size:1.55rem;}
a {text-decoration:none;}
img {max-width:100%;}
.text-center {text-align:center;}
.text-right {text-align:right;}
.center {margin:0 auto; float:none;}
.small {font-size:0.85rem;}
.show {display:inline-block !important;}
.clearfix {width:100%; height:1px; display:block; clear:both;}
.relative {position:relative;}
hr {margin:0;}

input[type="text"], input[type="email"] {height:auto; line-height:1; padding:0.6rem 1rem; font-size:1rem; color:#222 !important; box-shadow:2px 2px 4px inset rgba(0,0,0,0.05); border:1px solid #84cb3f !important; border-radius:2px;}
select {padding:0.75 1rem !important; box-shadow:2px 2px 4px inset rgba(0,0,0,0.25); border:1px solid #84cb3f !important; border-radius:4px;}
select:focus {outline:none;}

p.lead {margin:4rem 0; color:#5d5d5d; font-size:1.25rem; line-height:1.5;}
.john-deere-image {display:block; margin:0 auto;}
.john-deere-subtitle {display:block; margin:3rem auto;}
.front-image {margin:2rem auto 0 auto; display:block;}

.first {position:relative;}
.first .col {padding-left:0; padding-right:0;}
.first .col img {position:absolute; width:auto; margin-top:3rem;}

.second .serie ul {padding-top:0;}
.big-green {margin-top:4rem; font-size:1.75rem; text-transform:uppercase; font-weight:bold; text-align:center; color:#84cb3f;}

aside {background:#84cb3f; padding:0 0 1rem 0; overflow:auto;}
aside .row:first-child {padding-top:0; padding-bottom:0;}
aside h2 {margin-bottom:0.5rem; color:#fff; text-align:center; font-size:1.65rem; text-transform:none}
aside form {color:#fff;}
aside .field {display:block; width:100%; clear:both; padding:0;}
aside .field span {display:none; margin-top:3px; clear:both; padding:0.25rem 0.5rem; background:#c03; color:#fff; font-size:0.8rem; border-radius:4px;}
aside .field label {width:100%; display:block; float:left; padding:0.75rem 1rem 0.75rem 0; font-size:0.8rem;}
aside .field input, main .field select {width:100%; display:inline-block; float:left;}
aside .field p {width:100%; float:right; font-size:0.7rem;}
aside .field p a {color:#fff; text-decoration:underline}
aside .field.checkbox {width:100%; float:right; padding:0.45rem 0; line-height:0.85;}
aside .field.checkbox input {display:inline; width:auto; float:none; margin:0;}
aside .field.checkbox label {display:inline; width:auto; float:none; padding:0; text-align:left; font-size:0.7rem; line-height:0.85;}
aside .field.text-center {width:100%;}
aside .field.text-center input[type="submit"], .footer .wypelnij .button {width:auto; float:none; padding:0.65rem 1rem; margin:1rem auto 0 auto; font-size:1.15rem; color:#fff; background:#000; border:0; cursor:pointer;}
aside .field.checkbox span {margin-left:0; clear:both;}
aside .field.serie {text-align:left;}

.row-100 img {width:100%;}

.serie ul {display:inline-block; clear:both; margin:0 auto; padding:0 0 2rem 0; font-size:1.15rem; text-align:left; list-style-type:none !important;}
.serie ul li {margin:0.75rem 0; padding-left:40px; position:relative; background:transparent;}
.serie ul li:before {width:22px; height:22px; position:absolute; top:0; left:0; display:inline-block; background:url(../img/checkbox.png) no-repeat; content:"";}

.thanks {margin-top:3rem; margin-bottom:2rem; text-align:center;}
.thanks img {margin-bottom:1.5rem;}
.thanks p {color:#fff; font-size:1.25rem; line-height:1.5;}

section.row-100 {padding:0;}
section {padding-top:2rem; padding-bottom:4rem;}
section.green { padding-top:2rem; padding-bottom:2rem; background:#84cb3f; color:#fff; text-align:center; position:relative; overflow:hidden;}
section.green a {color:#fff;}
section.green p {font-size:1.75rem;}
section.green span {font-size:2.5rem; font-weight:bold;}
section.green .l10 {display:block;}

.dane {display:none;}
footer {margin-top:3em; padding-top:1rem; padding-bottom:1rem; background:#fff; color:#3F3F3F; border-top:16px solid #84CB3F; font-weight:bold;}
footer a {color:#7F7E7F; text-decoration:none; font-size:1rem; float:right; text-decoration:none}
footer p {margin:0; font-size:1rem;}
footer img {margin-left: 0.5rem; vertical-align:middle;}
footer ul {clear:both; margin:2rem 0 1rem 0; padding:0; list-style-type:none; position:relative; z-index:1;}
footer ul li {display:inline-block; margin:0 0.25rem;}
footer ul li a {display:inline-block; width:24px; height:24px; overflow:hidden; text-indent:100px; transition:all 300ms ease-in-out; background-size:cover !important;}
footer .facebook {background:url('../img/facebook.png');}
footer .instagram {background:url('../img/instagram.png');}
footer .youtube {background:url('../img/youtube.png');}
footer .up {display:block; color:#84CB3F; text-transform:uppercase;}
footer .up:after {display:inline-block; width:8px; height:12px; margin-left:0.5rem; border:4px solid transparent; border-bottom:7px solid #84CB3F; content:""; box-sizing:border-box; position:relative; top:-3px; font-weight:normal;}

#cookie-bar {width:100%; position:fixed; left:0; right:0; bottom:0; padding:1rem; background:rgba(0,0,0,0.85); color:#fff; font-size:0.85rem;}
#cookie-bar p {font-size:0.8rem;}
#cookie-bar a {color:#fff;}
#cookie-bar button {display:inline-block; margin-left:0.5rem; padding:0.25rem 0.5rem; border:0; color:#fff; background:#84cb3f; font-weight:bold; font-size:0.85rem; cursor:pointer;}

main {width:calc(100% - 400px);}
aside {width:400px; position:fixed; top:0; bottom:0; right:0; height:100%; }

.info {background:#000;}
.info h2 {font-weight:bold;}

table.gallery {width:100%; min-height:600px; overflow:hidden;}
table.gallery td {position:relative; overflow:hidden;}
table.gallery td img {display:block; width:100%; height:100%; position:absolute; top:0; bottom:0; left:0; right:0; padding:0.25rem; object-fit:cover}

section.video video {margin:0.5rem 0;}
video {width:100%;}

ul.bigger {font-size:1.5rem;}
ul.bigger li {margin:0.85rem 0; font-weight:bold;}
ul.bigger li:before {top:3px;}

.arrow {position:absolute; right:0; top:50%; width:50px; height:50px; border:25px solid transparent; border-left:25px solid #fff; animation: arrow 1s infinite ease-in-out}

@media (max-width: 1300px) {

}

@media (max-width:1200px) {
    .first .col img {width:200px}
}

@media (max-width:1024px) {
    main {width:100%;}
    aside {width:100%; position:static; padding-bottom:2rem}
}

@media (max-width:1000px) {
    .first .col img {width:200px}
}

@media (max-width:800px) {
    #logo-click {display:block;}
    table.gallery td {display:block; width:100%;}
    table.gallery td img {display:block; width:100%; position:static;}
}

@media (max-width:768px) {
    .first .col img {width:180px; margin-top:1.5rem;}
}

@media (max-width:640px) {
    main {padding-top:1.5rem;}
    main h2 {font-size:1.5rem;}
    main .field label {width:100%; display:block; float:none; padding:0.75rem 1rem 0.25rem 0; text-align:left}
    main .field input {width:100%;}
    main .field span {width:100%;}
    main .field p {width:100%; float:none;}
    main .field.checkbox {width:100%; float:none; padding:0.75rem 0;}

    h1 {font-size:2.3rem;}
    h2 {font-size:1.85rem;}
    section.black span {font-size:1.5rem;}

}

@media (max-width:605px) {

}

@media (max-width:555px) {
    .first .l12 {width:100%; padding:0; position:absolute; left:0; top:0; bottom:0; right:0;}
    .first .col img {width:160px;left:0;bottom:0;}

    footer a {float:left;}
}

@keyframes arrow {
    0% {transform:translate(-25%, -50%); opacity:0;}
    25% {opacity:1;}
    75% {opacity:1;}
    100% {transform:translate(25%, -50%); opacity:1;}
}