html {scroll-behavior:smooth;}
* {box-sizing: border-box;}
body {background:#333; color:#fff; margin:0; font-family: Arial, sans-serif; line-height:1.3;}

header {background:#fff; padding:0.5rem 0 1rem 0; text-align:center;}
header img {margin:0 auto;}
#logo img {width:auto;}
#logo-click {display:none;}
.first {padding-top:100px;}

.row-100 img {display:block; width:100%;}

h1, h2, h3, h4 {display:block; color:#84cb3f; text-align:center; text-transform:uppercase; font-weight:normal;}
h1 {font-size:3.5rem;}
h2 {font-size:2.8rem;}

h1 {padding:1rem 0; color:#fff; font-weight:bold;}
.bold h2 {font-weight:bold;}

p {margin:1rem 0; font-size:1.2rem; line-height:1.35;}
a {text-decoration:none;}
img {max-width:100%;}
.text-center {text-align:center;}
.text-right {text-align:right;}
.center {margin:0 auto; float:none;}
.small {font-size:0.85rem;}
.show {display:inline-block !important;}
.clearfix {width:100%; height:1px; display:block; clear:both;}
.relative {position:relative;}
hr {margin:0;}

input[type="text"], input[type="email"] {height:auto; line-height:1; padding:0.75rem 1rem; font-size:1.15rem; color:#222 !important; box-shadow:2px 2px 4px inset rgba(0,0,0,0.05); border:1px solid #84cb3f !important; border-radius:2px;}
select {padding:0.75 1rem !important; box-shadow:2px 2px 4px inset rgba(0,0,0,0.25); border:1px solid #84cb3f !important; border-radius:4px;}
select:focus {outline:none;}

p.lead {margin:4rem 0; color:#5d5d5d; font-size:1.25rem; line-height:1.5;}
.john-deere-image {display:block; margin:0 auto;}
.john-deere-subtitle {display:block; margin:3rem auto;}
.front-image {margin:2rem auto 0 auto; display:block;}

.first {position:relative;}
.first .col img {position:absolute; width:auto; margin-top:3rem;}

main {background:#84cb3f; padding:2rem 0 0 0;}
main h2 {color:#fff; text-align:center; font-size:2.4rem;}
main form {color:#fff;}
main .field {display:block; width:100%; clear:both; padding:0.25rem 0;}
main .field span {display:none; margin-top:3px; clear:both; padding:0.25rem 0.5rem; background:#c03; color:#fff; font-size:0.85rem; border-radius:4px;}
main .field label {width:25%; display:inline-block; float:left; padding:0.75rem 1rem 0.75rem 0; text-align:right}
main .field input, main .field select {width:75%; display:inline-block; float:left;}
main .field p {width:75%; float:right; font-size:0.85rem;}
main .field p a {color:#fff; text-decoration:underline}
main .field.checkbox {width:75%; float:right; padding:0.75rem 0;}
main .field.checkbox input {display:inline; width:auto; float:none;}
main .field.checkbox label {display:inline; width:auto; float:none; padding:0; text-align:left; font-size:0.85rem;}
main .field.text-center {width:100%;}
main .field.text-center input[type="submit"], .footer .wypelnij .button {width:auto; float:none; padding:1rem 1.5rem; margin:2rem auto; font-size:1.5rem; color:#fff; background:#333; border:0; cursor:pointer;}
main .field.checkbox span {margin-left:0; clear:both;}
main .field.serie {text-align:left;}

.row-100 img {width:100%;}

.serie ul {display:inline-block; clear:both; margin:0 auto; padding:2rem 0; font-size:1.15rem; text-align:left; list-style-type:none !important;}
.serie ul li {margin:0.5rem 0; padding-left:40px; position:relative; background:transparent;}
.serie ul li:before {width:22px; height:22px; position:absolute; top:0; left:0; display:inline-block; background:url(../img/checkbox.png) no-repeat; content:"";}

.thanks {margin-top:3rem; margin-bottom:2rem; text-align:center;}
.thanks img {margin-bottom:1.5rem;}
.thanks p {color:#fff; font-size:1.25rem; line-height:1.5;}

section.row-100 {padding:0;}
section {padding-top:2rem; padding-bottom:4rem;}
section.black {padding-top:2rem; padding-bottom:2rem; background:#111; text-align:center}
section.black p {font-size:1.5rem;}
section.black span {display:block; color:#84cb3f; font-size:2.4rem; font-weight:700; line-height:1.3;}
section.black .button {display:inline-block; clear:both; margin:2rem 0 0 0; padding:0.75rem 1.5rem; background:#84cb3f; color:#fff; text-transform:uppercase; font-weight:bold;}

section.black.green {background:#84cb3f; color:#fff;}
section.black.green span {color:#fff;}
section.black.green .button {background:#111;}

.dane {display:none;}
footer:before {width:100%; height:140px; content:""; display:block; position:absolute; top:0; background:url('../img/footer_bg.png') center bottom no-repeat; object-fit: cover; transform:translateY(-90%);}
footer {margin-top:7em; padding-top:1rem; padding-bottom:1rem; background:#B1B1B1; position:relative;}
footer a {color:#fff; text-decoration:none; font-size:1rem; float:right; text-decoration:none}
footer p {font-size:1rem;}
footer img {margin-left: 0.5rem; vertical-align:middle;}
footer ul {margin:0 0 1rem 0; padding:0; list-style-type:none; position:relative; z-index:1;}
footer ul li {display:inline-block; margin:0 0.25rem;}
footer ul li a {display:inline-block; width:40px; height:40px; overflow:hidden; text-indent:100px; transition:all 300ms ease-in-out;}
footer ul li a:hover {background-position: 0 -50px}
footer .facebook {background:url('../img/facebook.png') 0 0;}
footer .instagram {background:url('../img/instagram.png') 0 0;}
footer .youtube {background:url('../img/youtube.png') 0 0;}


#cookie-bar {width:100%; position:fixed; left:0; right:0; bottom:0; padding:1rem; background:rgba(0,0,0,0.85); color:#fff; font-size:0.85rem;}
#cookie-bar p {font-size:0.8rem;}
#cookie-bar a {color:#fff;}
#cookie-bar button {display:inline-block; margin-left:0.5rem; padding:0.25rem 0.5rem; border:0; color:#fff; background:#84cb3f; font-weight:bold; font-size:0.85rem; cursor:pointer;}

@media (max-width: 1300px) {

}

@media (max-width:1200px) {

}

@media (max-width:1100px) {

}

@media (max-width:1000px) {
    .first .col img {width:160px}
}

@media (max-width:800px) {
    #logo-click {display:block;}
}

@media (max-width:768px) {
    .first .col img {width:130px; margin-top:1.5rem;}
}

@media (max-width:640px) {
    main {padding-top:1.5rem;}
    main h2 {font-size:1.5rem;}
    main .field label {width:100%; display:block; float:none; padding:0.75rem 1rem 0.25rem 0; text-align:left}
    main .field input {width:100%;}
    main .field span {width:100%;}
    main .field p {width:100%; float:none;}
    main .field.checkbox {width:100%; float:none; padding:0.75rem 0;}

    h1 {font-size:2.3rem;}
    h2 {font-size:1.85rem;}
    section.black span {font-size:1.5rem;}

}

@media (max-width:605px) {

}

@media (max-width:555px) {
    .first .l12 {width:100%; padding:0; position:absolute; left:0; top:0; bottom:0; right:0;}
    .first .col img {width:110px;left:0;bottom:0;}

    footer a {float:left;}
}
