html {scroll-behavior: smooth;}
* {box-sizing: border-box;}
body {padding: 0; margin: 0; font-family: "Open Sans", Helvetica, Arial, sans-serif; color: #444; background: #EDEDED; font-size: 100%; overflow-x: hidden;}

/* Style bazowe */
a {color: #444; text-decoration: none;}
p {font-size: 1em; line-height:1.6;}
img {max-width:100%;}
h1, h2, h3, h4, h5, h6 {margin:0 0 1em 0; line-height:1.2; color:#000; text-transform: uppercase;}
h1 {font-size: 4em; margin-bottom: 0.5em;}
h2 {font-size: 3em; margin: 1em 0;}
h3 {font-size: 1.8em;}
h4 {font-size: 0.9375em;}
p.small {font-size: 0.75em;}

/* Style uzupełniające */ 
.relative {position:relative;}
.text-center {text-align:center;}
.text-right {text-align: right;}
.center {float:none; margin:0 auto;}
.no-padding-top {padding-top: 0 !important;}
.no-margin-top {margin-top: 0;}
.green {color: #75BE4A;}
hr {width: 120px; height: 12px; margin: 0 0 2em 0; background: #75BE4A; border: 0;}

/* Cookie prompt */
#cookie-bar {position:fixed; z-index:3; bottom:0; left:0; width: 100%; background:#222; color:#fff; box-shadow:0px -4px 8px rgba(0,0,0,0.25);}
#cookie-bar p {display:block; max-width:1200px; margin:0 auto; padding:15px; font-size:1em; overflow:auto;}
#cookie-bar p .btn {font-size:1em; float:right; background:#fff; color:#000; border:0; padding:0.75em 1em;}
#cookie-bar p span {display:block; float:left; margin-top:0.75em;}
#cookie-bar p span a {color:inherit; text-decoration:underline;}

/* Przyciski */
.button, button {display: inline-block; background: #75BE4A; color: #fff; border: 0; padding: 0 0 0 1.5em; margin: 0 auto; font-size: 1em; font-weight: bold; cursor: pointer; outline: none !important; transition: all 250ms ease-in-out; text-decoration: none; text-align: center; overflow: hidden;}
.button span svg {display: inline-block; width: 1.2em; transform: translateY(2px);}
.button span {display: inline-block; background: #111; padding: 0.75em 1em; margin-left: 1.5em; transition: all 250ms ease-in-out; }
.button:hover, button:hover {background: #000;}
.button:hover span, button:hover span {background: #75BE4A;}

/* Sekcje */
header {padding-top: 1em; padding-bottom: 0.5em; background: #fff;}
header ul {margin: 1em 0 0 0; padding: 0; list-style-type: none;}
header ul li {display: inline-block; margin-left: 1.5em;}
header ul li a {font-size: 1.2em; color: #222; transition: all 300ms ease-in-out;}
header ul li a:after {width: 100%; height: 7px; margin-top: 0.25em; background: #B1B1B1; display: block; content: "";}
header ul li a:hover {color: #000;}
header ul li a:hover:after {background: #75BE4A;}
header .header-cta {display: inline-block; padding: 0.5em 1em; background: #75BE4A; color: #fff; font-weight: bold;}
header .header-cta svg {margin-right: 0.5em; fill: #fff; vertical-align: middle;}
header .header-cta:hover {background: #000;}
header #logo svg {max-width: 100%; margin-bottom: 1em;}

.hero {background: #111;}
.hero img {display: block; width: 110%; max-width: none; margin-left: -4.5em;}

.intro {padding-top: 2em; padding-bottom: 2em;}
.intro h1 strong {font-weight: 900; display: block; clear: both;}
.intro p {font-size: 1.5em;}
.intro img {width: 120%; max-width: none; margin-left: -1em;}
.intro .button {margin: 2em 0;}

section.white {background: #fff;}

.seria {padding-top: 2em; padding-bottom: 2em;}

.seria .mini {display: inline-block; position: relative; margin-bottom: 1em;}
.seria .mini:before {width: 100%; height: 1px; display: block; position: absolute; transform: translateY(1em); content: ""; background: #ccc;}
.seria .mini span {padding: 0.5em 1em; font-size: 1.5em; background: #EDEDED; position: relative; z-index: 1;}
.seria.white .mini span {padding: 0.5em; background: #fff;}
.seria.white .mini:before {background: #ddd;}

.seria h2 {margin: 0.5em 0 0 0;}
.seria .lead {margin: 0.5em 0 1em 0; font-size: 1.5em; color: #000;}
.seria p {margin: 2em 0 3em 0;}
.seria .button {margin-bottom: 1em;}

.seria .splide {margin-top: 2.25em;}

.warrior {padding: 0 1.5em; color: #fff; overflow: visible;}
.warrior:before {position: absolute; z-index: -1; top: 0; left: 1em; right: 1em; bottom: 0; background: #111; content: "";}
.warrior h2 {margin-top: 1em;}
.warrior h2, .warrior p.lead, .warrior p {color: #fff;}
.warrior p.lead {margin: 0.5em 0 1em 0; font-size: 1.5em;}
.warrior p {margin: 2em 0 3em 0;}
.warrior .button {margin-bottom: 2em;}
.warrior .button span {background: #292929;}
.warrior .button:hover {background: #292929;}
.warrior .button:hover span {background: #75BE4A;}
.warrior img {width: 150%; max-width: none; margin: 5em 0 0 -3em;}

.boxy {padding-top: 3em; padding-bottom: 3em;}
.boxy h3 {margin-bottom: 2em; color: #75BE4A; text-align: center;}
.boxy h3 span {display: block; clear: both; color: #111;}
.boxy .frames {display: flex; flex-wrap: wrap; width: 100%; clear: both; flex-flow:row;}
.boxy .frames .col div {background: #EDEDED; padding: 1.5em 1.5em 0.75em 1.5em;}
.boxy .button {margin: 3em auto 0 auto;}

#gallery {padding: 3em 0;}
#gallery h3 {color: #75BE4A;}

/* Formularz */
.formularz {padding: 0 2em 2em 2em; background: #292929; color: #BEBEBE;}
.formularz h2 {color: #75BE4A; text-align: center;}
.formularz p {margin: 2em 0; text-align: center; color: #fff;}

.formularz img {margin-top: 4em;}

.formularz input[type="text"], .formularz input[type="email"], .formularz input[type="tel"], .formularz select {display: block; width: 100%; margin: 0.5em 0; padding: 1.15em 1.25em; background: #fff;  font-family: inherit; border: 0; box-shadow: 0 6px 9px -4px inset rgba(0,0,0,0.1);}

.formularz label {display: block; margin: 1em 0 0.5em 0; color: inherit; font-size:0.9em;}

.formularz p:first-of-type {font-size:1em !important;}
.formularz p, .formularz .data-admin p, .formularz p.small {margin: 0; font-size: 0.75em;}

.formularz .data-admin {padding: 0.5em 0; text-align: left; font-size:  0.75em;}
.formularz .data-admin p {line-height: 1.2; text-align: left; color: inherit;}
.formularz .data-admin a {text-decoration:underline;}
.formularz .data-admin .more-button {box-sizing: border-box; margin: 1em 0; text-decoration: underline; cursor: pointer;}
.formularz .data-admin .more {display: none;}
.formularz .data-admin .more[data-show="true"] {display: block;}
.formularz .data-admin .more a {color:#fff;}

.formularz .field {display: block; clear: both; text-align: left; font-size: inherit;}
.formularz .field span {display: none;}
.formularz .field span.show {display: inline-block; padding: 0.25em; background: #c03; color: #fff; font-weight: bold; font-size: 0.75em;}
.formularz .field.checkbox {padding: 0.5em 0; line-height: 1;}
.formularz .field.checkbox label {display: inline; font-size: 0.75em; padding: 0.5em 0;}
.formularz .field.name {padding-top: 2em;}
.formularz .field.seria {padding: 0;}

.formularz .read-more-button {display: inline; cursor: pointer;}
.formularz .read-more-button:hover {text-decoration: underline;}

.formularz .form-submit-container {width: 100%; display: inline-block; margin: 2em 0 1em 0; background: #75BE4A; position: relative; cursor: pointer;}
.formularz .form-submit-container input[type="submit"] {display: inline-block; background: transparent !important; color: #fff; border: 0; padding: 0.65em 2.5em 0.65em 1em; font-size: 1.15em; font-weight: bold;  cursor:pointer; outline: none !important; transition: all 250ms ease-in-out; font-family: inherit; position: relative; z-index: 2;}
.formularz .form-submit-container input[type="submit"][data-disabled="true"] {background: #999;}
.formularz .form-submit-container svg {position: absolute; right: 1.25em; top: 50%; transform: translateY(-50%); z-index: 0;}
.formularz .form-submit-container:hover {background: #84d454;}

.formularz p.small {text-align: left; color: inherit;}

.thank-you {padding-top:5em; padding-bottom:5em;}
.thank-you img {width:250px;}
.thank-you p {margin-top:2em 0;}

[data-target][data-show="false"] {display: none;}
[data-name][data-show="true"] {display: inline;}

/* Galeria zdjęć */
#gallery h3 {margin-top: 0.25em; margin-bottom: 2em;}
#gallery img {margin-bottom: 2em;}
#gallery .button {margin: 1em 0;}

/* Footer */
footer {padding-top: 1rem; padding-bottom: 1rem; background: #fff; color: #3F3F3F; border-top: 16px solid #75be4a; font-weight: bold;}
footer a {color: #7F7E7F; text-decoration: none; font-size: 1rem; float: right; text-decoration: none}
footer p {margin: 0; font-size: 1.05rem;}
footer img {margin-left: 0.5rem; vertical-align: middle;}
footer ul {clear: both; margin:2 rem 0 1rem 0; padding: 0; list-style-type: none; position: relative; z-index: 1;}
footer ul li {display: inline-block; margin: 0 0.25rem;}
footer ul li a {display: inline-block; width: 24px; height: 24px; overflow: hidden; text-indent: 100px; transition: all 300ms ease-in-out; background-size: cover !important;}
footer .facebook {background: url( '../img/facebook.png' );}
footer .instagram {background: url( '../img/instagram.png' );}
footer .youtube {background: url( '../img/youtube.png' );}
footer .up {display: block; color: #75be4a; text-transform: uppercase;}
footer .up:after {display: inline-block; width: 8px; height: 12px; margin-left: 0.5rem; border: 4px solid transparent; border-bottom: 7px solid #75be4a; content: ""; box-sizing: border-box; position: relative; top: -3px; font-weight: normal;}


/* Mobilne CTA - pasek przyklejony na dole */
.mobile-cta {display: none; position: fixed; bottom: 0; z-index: 2; width: 100%; background: #fff; text-align: center; font-weight: bold; box-shadow: 0 0 20px rgba(0,0,0,0.25);}
.mobile-cta .row {padding: 0;}
.mobile-cta .col:nth-child(2) {padding: 1em 1em; background: #75be4a; color: #fff;}
.mobile-cta p {margin: 1.25em 0 0 0; line-height: 1.2; font-weight: normal;}

/* Grid styles for resolution up to 1200px (M) */
@media only screen and (max-width: 75em) {



}

/* Grid styles for resolution up to 1065px (M) */
@media only screen and (max-width: 66.5625em) {



}

/* Grid styles for resolution up to 970px (M) */
@media only screen and (max-width: 60.625em) {

	body {font-size: 0.85em;}

	.hero img {width: 110%; margin-left: -3.5em;}

}

/* Grid styles for resolution up to 800px (S) */
@media only screen and (max-width: 50em) {

	header .header-cta {margin-top: 2em;}

	.hero img {width: 110%; margin-left: -2.5em;}

	.intro {padding-bottom: 0;}
	.intro img {margin: 0; width: 100%; max-width: 100%;}

	.warrior img {margin: 0; width: 100%; max-width: 100%;}

	.formularz img {display: none;}

}

/* Grid styles for resolution up to 640px (XS) */
@media only screen and (max-width: 40em) {
	
	.hero img {width: 110%; margin-left: -2em;}

	h1 {font-size: 2.75em;}
	h2 {font-size: 2em;}

	.intro p {font-size: 1.25em;}

	.seria p.lead {font-size: 1.25em;}
	.seria .mini span {font-size: 1em;}
	.seria .mini:before {transform: translateY( 0.75em );}

	.boxy .frames {flex-wrap: wrap;}
	.boxy .frames .col {width: 100%; margin-bottom: 1em;}
	.boxy .button {margin-top: 2em;}

	.mobile-cta {display: block;}

	.mobile-menu {position: fixed; top: 0; right: -100%; z-index: 99; width: 85%; height: 100%; padding: 1em; background: #fff; transition: all 300ms ease-in-out; text-align: center; box-shadow: 0 0 20px rgba(0,0,0,0.25);}
	.mobile-menu[data-show="true"] {right: 0;}
	.mobile-menu ul {margin: 0; padding: 0;}
	.mobile-menu li {display: block; clear: both; margin: 0;}
	.mobile-menu li a, .mobile-menu a {display: block; padding: 0.65em 0; border-bottom: 1px solid #ddd; }
	.mobile-menu li a:after {display: none;}
	.mobile-menu a.button {border-bottom: 0;}
	.mobile-menu .mobile-menu-button-close {background: #111; margin-top: 1em; border-bottom: 0; font-size: 1.1em; font-weight: bold; color: #fff;}

	.mobile-menu-button {margin-top: 1.75em; cursor: pointer;}

}

/* Grid styles for resolution up to 520px (XS) */
@media only screen and (max-width: 32.5em) {
	


}

/* Grid styles for resolution up to 480px (XXS) */
@media only screen and (max-width: 30em) {

	.hero img {width: 110%; margin-left: -1.5em;}

}

/* Grid styles for resolution up to 360px */
@media only screen and (max-width:22.5em) {

	h1 {font-size: 2.5em;}
	h2 {font-size: 1.8em;}

	.hero img {width: 110%; margin-left: -1em;}

	.button, button {padding: 0 0 0 1em;}
	.button span svg {display: inline-block; width: 1em; transform: translateY(2px);}
	.button span {padding: 0.75em 1em; margin-left: 1em;}

}